@using System.Collections
@using ACasotaBlazorServer.Data
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;

@inject NavigationManager nav
@inject UserManager<ApplicationUser> _userManager
@inject IDbContextFactory<DataContext> contextDb
@inject IWebHostEnvironment enviroment

<AuthorizeView Context="AuthorizeAdmin" Roles="Admin">
    <Authorized>
        <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
            <div class="d-flex align-items-center">
                <div class="avatar-md-half me-4">
                    <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                         alt="Bonnie Green">
                </div>
                <div class="d-block">
                    <h2 class="fs-6 mb-3" style="color:white">@user_auth.FirstName </h2>
                    <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                        <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                        </svg>
                        Sign Out
                    </a>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <!-- NavBar-->
        <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
            <div class="sidebar-inner px-3 pt-3">
                <!-- Responsive Part, new parts with a logout button and a user picture, active when not collapsed at low widths-->
                <div class="d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
                    <div class="d-flex align-items-center" style="margin-left: 0.5rem;">
                        <div class="avatar-md-half me-4">
                            <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                 alt="Bonnie Green">
                        </div>
                        <div class="d-block">
                            <h2 class="fs-6 mb-3">@user_auth.FirstName</h2>
                            <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                </svg>
                                Sign Out
                            </a>
                        </div>
                    </div>
                    <div class="collapse-close d-md-none">
                        <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                           aria-expanded="true" aria-label="Toggle navigation">
                            <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- Navbar buttons-->
                <div class="d-flex-none align-items-center pb-4" style="margin-left: 0.5rem;">
                    <div class="avatar-md-half me-4">
                        <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                             alt="Bonnie Green">
                    </div>
                    <div class="d-block">
                        <h3 class="fs-6 mb-3">@user_auth.FirstName</h3>
                        <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                            <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                            </svg>
                            Sign Out
                        </a>
                    </div>
                </div>
                <ul class="nav flex-column pt-3">
                    <div class="user-card mb-2">
                        <p style="margin-bottom: 0rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Geral</p>
                    </div>
                    <NavLink href="" class="nav-item" Match="NavLinkMatch.All">
                        <div class="nav-link">
                            <span class="sidebar-icon">
                                <i class="fas fa-home fa-stack-1x"></i>
                            </span>
                            <span class="sidebar-text ms-4">Dashboard</span>
                        </div>
                    </NavLink>
                    <NavLink href="@($"/Profile/{user_auth.Id}")" class="nav-item">
                        <div class="nav-link">
                            <span class="sidebar-icon">
                                <i class="fas fa-user fa-stack-1x"></i>
                            </span>
                            <span class="sidebar-text ms-4">Perfil de Utilizador</span>
                        </div>
                    </NavLink>
                    <div class="user-card mb-2">
                        <p style="margin-bottom: 0rem; margin-top:1rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Gestão Animal</p>
                    </div>
                    <NavLink href="Animalmanagement" class="nav-item">
                        <div class="nav-link">
                            <span class="sidebar-icon">
                                <i class="fas fa-dog fa-stack-1x"></i>
                            </span>
                            <span class="sidebar-text ms-4">Lista de animais</span>
                        </div>
                    </NavLink>
                    <NavLink href="@($"/AnimalUser/{user_auth.Id}")" class="nav-item">
                        <div class="nav-link">
                            <span class="sidebar-icon">
                                <i class="fas fa-paw fa-stack-1x"></i>
                            </span>
                            <span class="sidebar-text ms-4">Os meus Animais</span>
                        </div>
                    </NavLink>
                    <NavLink href="ReportManagement" class="nav-item">
                        <div class="nav-link">
                            <span class="sidebar-icon">
                                <i class="fas fa-users fa-stack-1x"></i>
                            </span>
                            <span class="sidebar-text ms-4">Reportes de Animais</span>
                        </div>
                    </NavLink>
                    <NavLink href="AdoptionManagement" class="nav-item">
                        <div class="nav-link">
                            <span class="sidebar-icon">
                                <i class="fas fa-users fa-stack-1x"></i>
                            </span>
                            <span class="sidebar-text ms-4">Formulários de Adoção</span>
                        </div>
                    </NavLink>
                    <div class="user-card mb-2">
                        <p style="margin-bottom: 0rem; margin-top:1rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Gestão ACasota</p>
                    </div>
                    <NavLink href="EventManagement" class="nav-item">
                        <div class="nav-link">
                            <span class="sidebar-icon">
                                <i class="fas fa-users fa-stack-1x"></i>
                            </span>
                            <span class="sidebar-text ms-4">Gestão de Eventos</span>
                        </div>
                    </NavLink>
                    <NavLink href="TransactionManagement" class="nav-item">
                        <div class="nav-link">
                            <span class="sidebar-icon">
                                <i class="fas fa-users fa-stack-1x"></i>
                            </span>
                            <span class="sidebar-text ms-4">Gestão de Transações</span>
                        </div>
                    </NavLink>
                    <NavLink href="Usermanagement" class="nav-item">
                        <div class="nav-link">
                            <span class="sidebar-icon">
                                <i class="fas fa-users fa-stack-1x"></i>
                            </span>
                            <span class="sidebar-text ms-4">Gestão de Utilizadores</span>
                        </div>
                    </NavLink>
                </ul>
            </div>
        </nav>
    </Authorized>
    <NotAuthorized>
        <AuthorizeView Context="AuthorizeUser" Roles="User">
            <Authorized>
                <!-- Responsive Navbar, substitutes the first navbar when its collapsed-->
                <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
                    <div class="d-flex align-items-center">
                        <div class="avatar-md-half me-4">
                            <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                 alt="Bonnie Green">
                        </div>
                        <div class="d-block">
                            <h2 class="fs-6 mb-3" style="color:white">@user_auth.FirstName</h2>
                            <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                </svg>
                                Sign Out
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>

                <!-- NavBar-->
                <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
                    <div class="sidebar-inner px-4 pt-3">
                        <!-- Responsive Part, new parts with a logout button and a user picture, active when not collapsed at low widths-->
                        <div class="d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
                            <div class="d-flex align-items-center">
                                <div class="avatar-md-half me-4">
                                    <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                         alt="Bonnie Green">
                                </div>
                                <div class="d-block">
                                    <h2 class="fs-6 mb-3">@user_auth.FirstName</h2>
                                    <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                        <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                        </svg>
                                        Sign Out
                                    </a>
                                </div>
                            </div>
                            <div class="collapse-close d-md-none">
                                <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                                   aria-expanded="true" aria-label="Toggle navigation">
                                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <!-- Navbar buttons-->
                        <div class="d-flex-none align-items-center pb-4">
                            <div class="avatar-md-half me-4">
                                <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                     alt="Bonnie Green">
                            </div>
                            <div class="d-block">
                                <h3 class="fs-6 mb-3">@user_auth.FirstName</h3>
                                <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                    <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                    </svg>
                                    Sign Out
                                </a>
                            </div>
                        </div>
                        <ul class="nav flex-column pt-3">
                            <div class="user-card mb-2">
                                <p style="margin-bottom: 0rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Geral</p>
                            </div>
                            <NavLink href="" class="nav-item" Match="NavLinkMatch.All">
                                <div class="nav-link">
                                    <span class="sidebar-icon">
                                        <i class="fas fa-home fa-stack-1x"></i>
                                    </span>
                                    <span class="sidebar-text ms-4">Dashboard</span>
                                </div>
                            </NavLink>
                            <NavLink href="@($"/Profile/{user_auth.Id}")" class="nav-item">
                                <div class="nav-link">
                                    <span class="sidebar-icon">
                                        <i class="fas fa-user fa-stack-1x"></i>
                                    </span>
                                    <span class="sidebar-text ms-4">Perfil de Utilizador</span>
                                </div>
                            </NavLink>
                            <div class="user-card mb-2">
                                <p style="margin-bottom: 0rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Gestão Animal</p>
                            </div>
                            <NavLink href="Animalmanagement" class="nav-item">
                                <div class="nav-link">
                                    <span class="sidebar-icon">
                                        <i class="fas fa-dog fa-stack-1x"></i>
                                    </span>
                                    <span class="sidebar-text ms-4">Animais ACasota</span>
                                </div>
                            </NavLink>
                            <NavLink href="@($"/AnimalUser/{user_auth.Id}")" class="nav-item">
                                <div class="nav-link">
                                    <span class="sidebar-icon">
                                        <i class="fas fa-paw fa-stack-1x"></i>
                                    </span>
                                    <span class="sidebar-text ms-4">Os meus Animais</span>
                                </div>
                            </NavLink>
                            <NavLink href="ReportManagement" class="nav-item">
                                <div class="nav-link">
                                    <span class="sidebar-icon">
                                        <i class="fas fa-users fa-stack-1x"></i>
                                    </span>
                                    <span class="sidebar-text ms-4">Reportes de Animais</span>
                                </div>
                            </NavLink>
                            <NavLink href="AdoptionManagement" class="nav-item">
                                <div class="nav-link">
                                    <span class="sidebar-icon">
                                        <i class="fas fa-users fa-stack-1x"></i>
                                    </span>
                                    <span class="sidebar-text ms-4">Formulários de Adoção</span>
                                </div>
                            </NavLink>
                            <div class="user-card mb-2">
                                <p style="margin-bottom: 0rem; margin-top:1rem; text-align: center; font-size: 0.8rem; color: #6c757d;">A minha Gestão</p>
                            </div>
                            <NavLink href="EventManagement" class="nav-item">
                                <div class="nav-link">
                                    <span class="sidebar-icon">
                                        <i class="fas fa-users fa-stack-1x"></i>
                                    </span>
                                    <span class="sidebar-text ms-4">Eventos ACasota</span>
                                </div>
                            </NavLink>
                            <NavLink href="TransactionManagement" class="nav-item">
                                <div class="nav-link">
                                    <span class="sidebar-icon">
                                        <i class="fas fa-users fa-stack-1x"></i>
                                    </span>
                                    <span class="sidebar-text ms-4">As Minhas Transações</span>
                                </div>
                            </NavLink>
                        </ul>
                    </div>
                </nav>
            </Authorized>
            <NotAuthorized>
                <AuthorizeView Context="AuthorizePartner" Roles="Partner">
                    <Authorized>
                        <!-- Responsive Navbar, substitutes the first navbar when its collapsed-->
                        <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
                            <div class="d-flex align-items-center">
                                <div class="avatar-md-half me-4">
                                    <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                         alt="Bonnie Green">
                                </div>
                                <div class="d-block">
                                    <h2 class="fs-6 mb-3" style="color:white">@user_auth.FirstName</h2>
                                    <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                        <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                        </svg>
                                        Sign Out
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>
                        </nav>

                        <!-- NavBar-->
                        <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
                            <div class="sidebar-inner px-4 pt-3">
                                <!-- Responsive Part, new parts with a logout button and a user picture, active when not collapsed at low widths-->
                                <div class="d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-md-half me-4">
                                            <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                                 alt="Bonnie Green">
                                        </div>
                                        <div class="d-block">
                                            <h2 class="fs-6 mb-3">@user_auth.FirstName</h2>
                                            <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                                <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                                </svg>
                                                Sign Out
                                            </a>
                                        </div>
                                    </div>
                                    <div class="collapse-close d-md-none">
                                        <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                                           aria-expanded="true" aria-label="Toggle navigation">
                                            <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                      clip-rule="evenodd"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                                <!-- Navbar buttons-->
                                <div class="d-flex-none align-items-center pb-4">
                                    <div class="avatar-md-half me-4">
                                        <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                             alt="Bonnie Green">
                                    </div>
                                    <div class="d-block">
                                        <h3 class="fs-6 mb-3">@user_auth.FirstName</h3>
                                        <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                            <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                            </svg>
                                            Sign Out
                                        </a>
                                    </div>
                                </div>
                                <ul class="nav flex-column pt-3">
                                    <div class="user-card mb-2">
                                        <p style="margin-bottom: 0rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Geral</p>
                                    </div>
                                    <NavLink href="" class="nav-item" Match="NavLinkMatch.All">
                                        <div class="nav-link">
                                            <span class="sidebar-icon">
                                                <i class="fas fa-home fa-stack-1x"></i>
                                            </span>
                                            <span class="sidebar-text ms-4">Dashboard</span>
                                        </div>
                                    </NavLink>
                                    <NavLink href="@($"/Profile/{user_auth.Id}")" class="nav-item">
                                        <div class="nav-link">
                                            <span class="sidebar-icon">
                                                <i class="fas fa-user fa-stack-1x"></i>
                                            </span>
                                            <span class="sidebar-text ms-4">Perfil de Utilizador</span>
                                        </div>
                                    </NavLink>
                                    <div class="user-card mb-2">
                                        <p style="margin-bottom: 0rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Gestão Animal</p>
                                    </div>
                                    <NavLink href="Animalmanagement" class="nav-item">
                                        <div class="nav-link">
                                            <span class="sidebar-icon">
                                                <i class="fas fa-dog fa-stack-1x"></i>
                                            </span>
                                            <span class="sidebar-text ms-4">Lista de animais</span>
                                        </div>
                                    </NavLink>
                                    <NavLink href="@($"/AnimalUser/{user_auth.Id}")" class="nav-item">
                                        <div class="nav-link">
                                            <span class="sidebar-icon">
                                                <i class="fas fa-paw fa-stack-1x"></i>
                                            </span>
                                            <span class="sidebar-text ms-4">Os meus animais</span>
                                        </div>
                                    </NavLink>
                                    <NavLink href="ReportManagement" class="nav-item">
                                        <div class="nav-link">
                                            <span class="sidebar-icon">
                                                <i class="fas fa-users fa-stack-1x"></i>
                                            </span>
                                            <span class="sidebar-text ms-4">Reportes de Animais</span>
                                        </div>
                                    </NavLink>
                                    <NavLink href="AdoptionManagement" class="nav-item">
                                        <div class="nav-link">
                                            <span class="sidebar-icon">
                                                <i class="fas fa-users fa-stack-1x"></i>
                                            </span>
                                            <span class="sidebar-text ms-4">Formulários de Adoção</span>
                                        </div>
                                    </NavLink>
                                    <div class="user-card mb-2">
                                        <p style="margin-bottom: 0rem; margin-top:1rem; text-align: center; font-size: 0.8rem; color: #6c757d;">A minha Gestão</p>
                                    </div>
                                    <NavLink href="PartnerTransactionManagement" class="nav-item">
                                        <div class="nav-link">
                                            <span class="sidebar-icon">
                                                <i class="fas fa-users fa-stack-1x"></i>
                                            </span>
                                            <span class="sidebar-text ms-4">Gestão de Sócio</span>
                                        </div>
                                    </NavLink>
                                    <NavLink href="EventManagement" class="nav-item">
                                        <div class="nav-link">
                                            <span class="sidebar-icon">
                                                <i class="fas fa-users fa-stack-1x"></i>
                                            </span>
                                            <span class="sidebar-text ms-4">Eventos ACasota</span>
                                        </div>
                                    </NavLink>
                                    <NavLink href="TransactionManagement" class="nav-item">
                                        <div class="nav-link">
                                            <span class="sidebar-icon">
                                                <i class="fas fa-users fa-stack-1x"></i>
                                            </span>
                                            <span class="sidebar-text ms-4">As minhas Transações</span>
                                        </div>
                                    </NavLink>
                                </ul>
                            </div>
                        </nav>
                    </Authorized>
                    <NotAuthorized>
                        <AuthorizeView Context="AuthorizeAdminPartner" Roles="AdminPartner">
                            <Authorized>
                                <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-md-half me-4">
                                            <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                                 alt="Bonnie Green">
                                        </div>
                                        <div class="d-block">
                                            <h2 class="fs-6 mb-3" style="color:white">@user_auth.FirstName </h2>
                                            <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                                <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                                </svg>
                                                Sign Out
                                            </a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                    </div>
                                </nav>

                                <!-- NavBar-->
                                <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
                                    <div class="sidebar-inner px-3 pt-3">
                                        <!-- Responsive Part, new parts with a logout button and a user picture, active when not collapsed at low widths-->
                                        <div class="d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
                                            <div class="d-flex align-items-center" style="margin-left: 0.5rem;">
                                                <div class="avatar-md-half me-4">
                                                    <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                                         alt="Bonnie Green">
                                                </div>
                                                <div class="d-block">
                                                    <h2 class="fs-6 mb-3">@user_auth.FirstName</h2>
                                                    <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                                        <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                                  d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                                        </svg>
                                                        Sign Out
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="collapse-close d-md-none">
                                                <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
                                                   aria-expanded="true" aria-label="Toggle navigation">
                                                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                              clip-rule="evenodd"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Navbar buttons-->
                                        <div class="d-flex-none align-items-center pb-4" style="margin-left: 0.5rem;">
                                            <div class="avatar-md-half me-4">
                                                <img src="@profilePic" class="card-img-top rounded-circle border-white image-fit"
                                                     alt="Bonnie Green">
                                            </div>
                                            <div class="d-block">
                                                <h3 class="fs-6 mb-3">@user_auth.FirstName</h3>
                                                <a href="/Identity/Account/Logout" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                                                    <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                                    </svg>
                                                    Sign Out
                                                </a>
                                            </div>
                                        </div>
                                        <ul class="nav flex-column pt-3">
                                            <div class="user-card mb-2">
                                                <p style="margin-bottom: 0rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Geral</p>
                                            </div>
                                            <NavLink href="" class="nav-item" Match="NavLinkMatch.All">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-home fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Dashboard</span>
                                                </div>
                                            </NavLink>
                                            <NavLink href="@($"/Profile/{user_auth.Id}")" class="nav-item">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-user fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Perfil de Utilizador</span>
                                                </div>
                                            </NavLink>
                                            <div class="user-card mb-2">
                                                <p style="margin-bottom: 0rem; margin-top:1rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Gestão Animal</p>
                                            </div>
                                            <NavLink href="Animalmanagement" class="nav-item">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-dog fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Lista de animais</span>
                                                </div>
                                            </NavLink>
                                            <NavLink href="@($"/AnimalUser/{user_auth.Id}")" class="nav-item">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-paw fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Os meus animais</span>
                                                </div>
                                            </NavLink>
                                            <NavLink href="ReportManagement" class="nav-item">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-users fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Reportes de Animais</span>
                                                </div>
                                            </NavLink>
                                            <NavLink href="AdoptionManagement" class="nav-item">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-users fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Formulários de Adoção</span>
                                                </div>
                                            </NavLink>
                                            <div class="user-card mb-2">
                                                <p style="margin-bottom: 0rem; margin-top:1rem; text-align: center; font-size: 0.8rem; color: #6c757d;">Gestão ACasota</p>
                                            </div>
                                            <NavLink href="PartnerTransactionManagement" class="nav-item">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-users fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Gestão de Quotas</span>
                                                </div>
                                            </NavLink>
                                            <NavLink href="EventManagement" class="nav-item">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-users fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Gestão de Eventos</span>
                                                </div>
                                            </NavLink>
                                            <NavLink href="TransactionManagement" class="nav-item">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-users fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Gestão de Transações</span>
                                                </div>
                                            </NavLink>
                                            <NavLink href="Usermanagement" class="nav-item">
                                                <div class="nav-link">
                                                    <span class="sidebar-icon">
                                                        <i class="fas fa-users fa-stack-1x"></i>
                                                    </span>
                                                    <span class="sidebar-text ms-4">Gestão de Utilizadores</span>
                                                </div>
                                            </NavLink>
                                        </ul>
                                    </div>
                                </nav>
                            </Authorized>
                            <NotAuthorized>
                                <!-- Navigation-->
                                <nav class="navbar-homepage navbar-homepage-expand-lg navbar-homepage-dark fixed-homepage-top" id="mainNav">
                                    <div class="container-homepage">
                                        <a class="navbar-homepage-brand" href="#page-top"><img src="/../../assets/img/ACasotaLogo.png" alt="..." /></a>
                                        <button class="navbar-homepage-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                                                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                            Menu
                                            <i class="fas fa-bars ms-1"></i>
                                        </button>
                                        <div class="collapse navbar-homepage-collapse" id="navbarResponsive">
                                            <ul class="navbar-homepage-nav text-uppercase ms-auto py-4 py-lg-0">
                                                <li class="nav-item-homepage"><a class="nav-link" href="#atividades">Atividades</a></li>
                                                <li class="nav-item-homepage"><a class="nav-link" href="#animal">Animais</a></li>
                                                <li class="nav-item-homepage"><a class="nav-link" href="#about">About</a></li>
                                                <li class="nav-item-homepage"><a class="nav-link" href="#team">Team</a></li>
                                                <li class="nav-item-homepage"><a class="nav-link" href="#contact">Contact</a></li>
                                                <li class="nav-item-homepage"><a class="nav-link" href="Identity/Account/Login">Sign In</a></li>
                                                <li class="nav-item-homepage"><a class="nav-link" href="Identity/Account/Register">Sign Up</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </NotAuthorized>
                        </AuthorizeView>
                    </NotAuthorized>
                </AuthorizeView>
            </NotAuthorized>
        </AuthorizeView>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }
    public ApplicationUser user_auth { get; set; } = new ApplicationUser();

    private string pathRoot = "";
    private string pathPicsRoot = "..\\users_pics";
    private string profilePic = "";

    protected override async Task OnInitializedAsync()
    {
        pathRoot = Path.Combine(enviroment.ContentRootPath, "wwwroot", "users_pics");

        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            using (var ctx = contextDb.CreateDbContext())
            {
                user_auth = await ctx.Users.SingleAsync(u => u.UserName.Equals(user.Identity.Name));

                pathPicsRoot = Path.Combine(pathPicsRoot, user_auth.UserName);

                if (user_auth.ProfilePic != null && File.Exists(Path.Combine(pathRoot, user_auth.UserName, user_auth.ProfilePic)))
                {
                    profilePic = Path.Combine(pathPicsRoot, user_auth.ProfilePic);
                }
                else
                {
                    profilePic = "..\\assets\\img\\userDefault\\userDefault.jpg";
                }
            }
        }
    }
}
