@page "/Profile"
@using System.Collections
@using ACasotaBlazorServer.Data
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@inject UserManager<ApplicationUser> _userManager
@inject IDbContextFactory<DataContext> contextDb
@attribute [Authorize]

<PageTitle>Perfil</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Perfil</h1>
		<section style="background-color: #eee;">
			<div class="container py-5">
				<div class="row">
					<div class="col">
						<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="/">Página Principal</a></li>
								<li class="breadcrumb-item active" aria-current="page">Perfil</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="card mb-4">
							<div class="card-body text-center">
								<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
									 class="rounded-circle img-fluid" style="width: 150px;">
								<h5 class="my-3">@user_auth.FirstName @user_auth.LastName</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="card mb-4">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Primeiro Nome</p>
									</div>
									<div class="col-sm-9">
										@if(@user_auth.FirstName == "" || @user_auth.FirstName == null){
											<label class="form-control" id="Address">Não possui um primeiro nome</label>
										}else{
											<label class="form-control" id="Address">@user_auth.FirstName</label>
										}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Ultimo Nome</p>
									</div>
									<div class="col-sm-9">
										@if(@user_auth.LastName == "" || @user_auth.LastName == null){
											<label class="form-control" id="Address">Não possui um sobrenome</label>
										}else{
											<label class="form-control" id="Address">@user_auth.LastName</label>
										}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Email</p>
									</div>
									<div class="col-sm-9">
										@if(@user_auth.Email == "" || @user_auth.Email == null){
											<label class="form-control" id="Email">Não contem qualquer Email</label>
										}else{
											<label class="form-control"id="Email">@user_auth.Email</label>
										}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Numero Telemóvel</p>
									</div>
									<div class="col-sm-9">
										@if(@user_auth.PhoneNumber == "" || @user_auth.PhoneNumber == null){
											<label class="form-control" id="Address">Não contem qualquer numero de telemóvel</label>
										}else{
											<label class="form-control" id="Address">@user_auth.PhoneNumber</label>
										}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Morada</p>
									</div>
									<div class="col-sm-9">
										@if(@user_auth.Address == "" || @user_auth.Address == null){
											<label class="form-control" id="Address">Não contem qualquer morada</label>
										}else{
											<label class="form-control" id="Address">@user_auth.Address</label>
										}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Numero de CC</p>
									</div>
									<div class="col-sm-9">
										@if(@user_auth.CCnumber == "" || @user_auth.CCnumber == null){
											<label class="form-control" id="CCNumber">Não contem qualquer numero de cidadão</label>
										}else{
											<label class="form-control" id="CCNumber">@user_auth.CCnumber</label>
										}
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">NIF</p>
									</div>
									<div class="col-sm-9">
										@if(@user_auth.Nif == "" || @user_auth.Nif == null){
											<label class="form-control" id="NIF">Não contem qualquer NIF</label>
										}else{
											<label class="form-control" id="NIF">@user_auth.Nif</label>
										}
									</div>
								</div>
							</div>
						</div>
						<div id="addEventForm">
							<a class="btn btn-pill btn-outline-primary" href="/UserEdit/@user_auth.Id">Editar Conta</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</Authorized>
	<NotAuthorized>
		<p role="status">You are not authorized to see this component</p>
	</NotAuthorized>
</AuthorizeView>

@code {
	[CascadingParameter]
	public Task<AuthenticationState> AuthenticationStateTask { get; set; }
	public ApplicationUser user_auth { get; set; } = new ApplicationUser();

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateTask;
		var user = authState.User;

		if (user.Identity.IsAuthenticated)
		{
			using (var ctx = contextDb.CreateDbContext())
			{
				user_auth = await ctx.Users.SingleAsync(u => u.UserName.Equals(user.Identity.Name));
			}
		}
	}


}