@page "/Profiles/{id}"
@using System.Collections
@using ACasotaBlazorServer.Data
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@inject UserManager<ApplicationUser> _userManager
@inject IDbContextFactory<DataContext> contextDb
@inject IWebHostEnvironment enviroment
@inject IJSRuntime JSRuntime
@attribute [Authorize]

<PageTitle>Perfil</PageTitle>

<AuthorizeView Roles="Admin, AdminPartner">
    <Authorized>
        @if (errorHandling)
        {
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="/">ACasota</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Perfil</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Perfil de Utilizador</h2>
                    <p class="mb-0">Página de especificações e caracteristicas do utilizador</p>
                </div>
            </div>
            <div class="row" id="tableWidth">
                <div class="col-12 col-xl-4">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card shadow border-0 text-center p-0">
                                <div class="profile-cover rounded-top" data-background="@coverPic">
                                    <img src="@coverPic" class="image-cover rounded-top" alt="Cover Picture">
                                </div>
                                <div class="card-body pb-5">
                                    <img src="@profilePic" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4 image-fit"
                                         alt="Neil Portrait">
                                    <h4 class="h3">@user_auth.FirstName @user_auth.LastName</h4>
                                    @if (@user_auth.Title != "" || @user_auth.Title != null)
                                    {
                                        <h5 class="fw-normal">@user_auth.Title</h5>
                                    }
                                    @if (@user_auth.City == "" || @user_auth.City == null)
                                    {
                                        <p class="text-gray mb-4">Guarda, PT</p>
                                    }
                                    else
                                    {
                                        <p class="text-gray mb-4">@user_auth.City, PT</p>
                                    }
                                    <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="/UserEdit/@user_auth.Id">
                                        <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z">
                                            </path>
                                        </svg>
                                        Editar
                                    </a>
                                    @if (context.User.IsInRole("Admin") || context.User.IsInRole("AdminPartner"))
                                    {
                                        if (user_auth.IsEnabled)
                                        {
                                            <button class="btn btn-sm btn-danger" @onclick="() => blockUser(user_auth.Id, user_auth.IsEnabled)">Bloquear</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-sm btn-outline-danger" @onclick="() => blockUser(user_auth.Id, user_auth.IsEnabled)">Desbloquear</button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-8">
                    <div class="card card-body border-0 shadow mb-4">
                        <h2 class="h5 mb-4">Informação pessoal</h2>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="first_name">Primeiro Nome</label>
                                    @if (@user_auth.FirstName == "" || @user_auth.FirstName == null)
                                    {
                                        <label class="form-control" id="Address">Não possui um primeiro nome</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="Address">@user_auth.FirstName</label>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div>
                                    <label for="last_name">Apelido</label>
                                    @if (@user_auth.LastName == "" || @user_auth.LastName == null)
                                    {
                                        <label class="form-control" id="Address">Não possui um sobrenome</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="Address">@user_auth.LastName</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 mb-3">
                                <label for="birthday">Cartão de Cidadão</label>
                                @if (@user_auth.CCnumber == "" || @user_auth.CCnumber == null)
                                {
                                    <label class="form-control" id="CCNumber">Não contem qualquer numero de cidadão</label>
                                }
                                else
                                {
                                    <label class="form-control" id="CCNumber">@user_auth.CCnumber</label>
                                }
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="gender">Numero de Indentificação Fiscal</label>
                                @if (@user_auth.Nif == "" || @user_auth.Nif == null)
                                {
                                    <label class="form-control" id="NIF">Não contem qualquer NIF</label>
                                }
                                else
                                {
                                    <label class="form-control" id="NIF">@user_auth.Nif</label>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="email">IBAN</label>
                                    @if (@user_auth.Iban == "" || @user_auth.Iban == null)
                                    {
                                        <label class="form-control" id="Email">IBAN não atribuido</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="Email">@user_auth.Iban</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    @if (@user_auth.Email == "" || @user_auth.Email == null)
                                    {
                                        <label class="form-control" id="Email">Não contem qualquer Email</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="Email">@user_auth.Email</label>
                                    }
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="phone">Numero Telémovel</label>
                                    @if (@user_auth.PhoneNumber == "" || @user_auth.PhoneNumber == null)
                                    {
                                        <label class="form-control" id="Address">Não contem qualquer numero de telemóvel</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="Address">@user_auth.PhoneNumber</label>
                                    }
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="phone">Género</label>
                                    @if (@user_auth.Sex == "" || @user_auth.Sex == null)
                                    {
                                        <label class="form-control" id="Address">Género não definido</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="Address">@user_auth.Sex</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <h2 class="h5 my-4">Location</h2>
                        <div class="row">
                            <div class="col-sm-12 mb-3">
                                <div class="form-group">
                                    <label for="address">Morada</label>
                                    @if (@user_auth.Address == "" || @user_auth.Address == null)
                                    {
                                        <label class="form-control" id="Address">Não contem qualquer morada</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="Address">@user_auth.Address</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="city">Cidade</label>
                                    @if (@user_auth.City == "" || @user_auth.City == null)
                                    {
                                        <label class="form-control" id="city" type="text">Cidade não atribuida</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="city" type="text">@user_auth.City</label>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="zip">Código Postal</label>
                                    @if (@user_auth.Zip == "" || @user_auth.Zip == null)
                                    {
                                        <label class="form-control" id="zip" type="text">Código Postal não atribuido</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="zip" type="text">@user_auth.Zip</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div>
                        <img class="img-fluid w-75" src="../../assets/img/illustrations/404.svg" alt="404 not found">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="mt-5">Página não <span class="fw-bolder text-primary">Disponivel</span></h1>
                        <p class="lead my-4">Oops! Este link não é o correto. Se existir algum problema entra em contacto.</p>
                        <a href="/" class="btn btn-gray-800 d-inline-flex align-items-center justify-content-center mb-4">
                            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                            Voltar para a página principal
                        </a>
                    </div>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="row">
            <div class="col-12 text-center d-flex align-items-center justify-content-center">
                <div>
                    <img class="img-fluid w-75" src="../../assets/img/illustrations/403.svg" alt="403 forbidden">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="mt-5">Não tem <span class="fw-bolder text-primary">Autorização</span></h1>
                    <p class="lead my-4">Oops! Não tem autorização para ver o conteudo desta página. Se existir algum problema entra em contacto.</p>
                    <a href="/" class="btn btn-gray-800 d-inline-flex align-items-center justify-content-center mb-4">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                        Voltar para a página principal
                    </a>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter]
    public string? id { get; set; }

    public ApplicationUser user_auth { get; set; } = new ApplicationUser();

    public bool errorHandling = true;

    private string pathRoot = "";
    private string pathPicsRoot = "..\\users_pics";
    private string profilePic = "";
    private string coverPic = "";

    protected override async Task OnInitializedAsync()
    {
        pathRoot = Path.Combine(enviroment.ContentRootPath, "wwwroot", "users_pics");

        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            using (var ctx = contextDb.CreateDbContext())
            {
                try
                {
                    user_auth = await ctx.Users.SingleAsync(u => u.Id.Equals(this.id));
                }
                catch
                {
                    errorHandling = false;
                    return;
                }

                pathPicsRoot = Path.Combine(pathPicsRoot, user_auth.UserName);

                if (user_auth.ProfilePic != null && File.Exists(Path.Combine(pathRoot, user_auth.UserName, user_auth.ProfilePic)))
                {
                    profilePic = Path.Combine(pathPicsRoot, user_auth.ProfilePic);
                }
                else
                {
                    profilePic = "..\\assets\\img\\userDefault\\userDefault.jpg";
                }

                if (user_auth.CoverPic != null && File.Exists(Path.Combine(pathRoot, user_auth.UserName, user_auth.CoverPic)))
                {
                    coverPic = Path.Combine(pathPicsRoot, user_auth.CoverPic);
                }
                else
                {
                    coverPic = "..\\assets\\img\\userDefault\\coverDefault.png";
                }
            }
        }
    }

    public async Task blockUser(string id, bool enable)
    {
        using (var ctx = contextDb.CreateDbContext())
        {
            user_auth.IsEnabled = !enable;
            ctx.Users.Update(user_auth);

            await ctx.SaveChangesAsync();
        }
    }
}