@page "/TransactionManagement"
@using System.Collections
@using ACasotaBlazorServer.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<DataContext> contextDb
@inject IWebHostEnvironment enviroment
@attribute [Authorize]

<PageTitle>Gestão de Utilizadores</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">ACasota</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Gestão de Utilizadores</li>
                    </ol>
                </nav>
                <h2 class="h4">Gestão de Utilizadores</h2>
                <p class="mb-0">Página de gestão para todos os utilizadores e contas activas</p>
            </div>
        </div>
        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col col-md-6 col-lg-3 col-xl-4">
                    <div class="input-group me-2 me-lg-3 fmxw-400">
                        <span class="input-group-text">
                            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <input type="text" @bind="@searchWord" @oninput="@Search" class="form-control" placeholder="Procurar Utilizadores">
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            @if (usersShow.Count == 0)
            {
                <p style="text-align: center; height: 100px; align-content: center; display: inline-grid;">Não existem utilizadores disponiveis!!</p>
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-gray-200">Nome</th>
                            <th class="border-gray-200">Nome do Utilizador</th>
                            <th class="border-gray-200">Email</th>
                            <th class="border-gray-200">Montante</th>
                            <th class="border-gray-200">Tipo de trasação</th>
                            <th class="border-gray-200">Estado da trasação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userDb in usersShow)
                        {
                            <!-- Item -->
                            <tr>
                                <td>
                                    <a href="/TransactionForm/@userDb.Id" class="fw-bold">
                                        <span class="h6">@userDb.Name</span>
                                    </a>
                                </td>
                                <td><span class="fw-normal">@userDb.User.FirstName @userDb.User.LastName</span></td>
                                <td><span class="fw-normal">@userDb.User.Email</span></td>
                                <td><span class="fw-normal">@userDb.Amount</span></td>
                                <td><span class="fw-normal">@userDb.Type.Type</span></td>
                                
                                @if (userDb.IsPaid)
                                {
                                    <td><span class="fw-bold text-success">Finalizada</span></td>
                                }
                                else
                                {
                                    <td><span class="fw-bold text-secondary">Pendente</span></td>
                                }
                            </tr>
                        }

                    </tbody>
                </table>
            }
        </div>
        @if (numberPages > 1)
        {
            <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                        <li class="page-item">
                            <a class="page-link" @onclick="() => ChargeViewArray(numberPageActive - 1)">Previous</a>
                        </li>
                        @foreach (var pageView in pageSelection)
                        {
                            if (pageView == numberPageActive)
                            {
                                <li class="page-item active">
                                    <a class="page-link" @onclick="() => ChargeViewArray(pageView)">@pageView</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" @onclick="() => ChargeViewArray(pageView)">@pageView</a>
                                </li>
                            }
                        }
                        <li class="page-item">
                            <a class="page-link" @onclick="() => ChargeViewArray(numberPageActive + 1)">Next</a>
                        </li>
                    </ul>
                </nav>
                <div class="fw-normal small mt-4 mt-lg-0">Showing <b>@startIndex</b> to <b>@endIndex</b> out of <b>@numberEntries</b> entries</div>
            </div>
        }
        else
        {
            <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-right">
                <div class="fw-normal small mt-4 mt-lg-0">Showing <b>@startIndex</b> to <b>@endIndex</b> out of <b>@numberEntries</b> entries</div>
            </div>
        }
        <footer class="bg-white rounded shadow p-5 mb-4 mt-4">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
                    <p class="mb-0 text-center text-lg-start">© 2023<span class="current-year"></span> <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">ACasota</a></p>
                </div>
                <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
                    <!-- List -->
                    <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/about">Instagram</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/themes">Twitter</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/blog">Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }
    public List<Transaction> usersShow { get; set; } = new List<Transaction>();
    public List<Transaction> users { get; set; } = new List<Transaction>();
    public List<Transaction> userDB { get; set; } = new List<Transaction>();

    //Sets a list for the number of pages, set automatically
    public List<Int32> pageSelection { get; set; } = new List<Int32>();

    //Sets the number of entries per page for the table
    public int numberEntriesPerPage { get; set; } = 10;
    //Sets the total amount of entries, set automatically
    public int numberEntries { get; set; }
    //Sets the total amount of pages needed, set automatically
    public int numberPages { get; set; }
    //Sets the page active at the moment, set automatically
    public int numberPageActive { get; set; }

    //Sets the indexes for the pages, set automatically
    public int startIndex { get; set; }
    public int endIndex { get; set; }

    //This is the proprietie that will be used to search a user
    public string searchWord { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            using (var ctx = contextDb.CreateDbContext())
            {
                var usersCT = await ctx.Transactions.Include(u => u.User).Include(t => t.Type).ToArrayAsync();

                if (user.IsInRole("Admin"))
                {
                    foreach (var userct in usersCT)
                    {
                        userDB.Add(userct);
                    }
                }
                else
                {
                    foreach (var userct in usersCT)
                    {
                        if (userct.User.UserName.Equals(user.Identity.Name))
                        {
                            userDB.Add(userct);
                        }
                    }
                }
            }

            userFill();

            //Sets number of total entries
            numberEntries = users.Count;

            //Sets the total amount of pages needed
            numberPages = numberEntries / numberEntriesPerPage;
            if ((numberEntries % numberEntriesPerPage) != 0 && numberPages > 0)
            {
                numberPages++;
            }

            if (numberPages == 0)
            {
                foreach (var userInDb in users)
                {
                    usersShow.Add(userInDb);
                }

                if (numberEntries == 0)
                {
                    startIndex = 0;
                }
                else
                {
                    startIndex = 1;
                }

                endIndex = numberEntries;
            }
            else
            {
                for (var x = 1; x <= numberPages; x++)
                {
                    pageSelection.Add(x);
                }

                numberPageActive = 1;

                ChargeViewArray(1);
            }
        }
    }

    public void ChargeViewArray(int numberPage)
    {
        if (numberPage < 1 || numberPage > numberPages)
        {
            return;
        }
        else if (numberPage == 1)
        {
            usersShow.Clear();

            startIndex = 1;
            endIndex = numberEntriesPerPage;

            for (var numberOfUser = 0; numberOfUser < numberEntriesPerPage; numberOfUser++)
            {
                usersShow.Add(users[numberOfUser]);
            }

            numberPageActive = 1;

            return;
        }
        else if (numberPage > numberPageActive)
        {
            var numSpaces = numberEntriesPerPage * (numberPage - numberPageActive);

            startIndex += numSpaces;
            endIndex += numSpaces;

            if (endIndex > users.Count)
            {
                endIndex = numberEntries;
            }
        }
        else if (numberPage < numberPageActive)
        {
            var numSpaces = numberEntriesPerPage * (numberPageActive - numberPage);

            startIndex -= numSpaces;
            endIndex -= numSpaces;
        }

        numberPageActive = numberPage;

        usersShow.Clear();

        var currentIndex = startIndex - 1;

        for (var numberOfUser = 0; numberOfUser < numberEntriesPerPage; numberOfUser++)
        {
            if (currentIndex >= users.Count || currentIndex < 0)
            {
                break;
            }

            usersShow.Add(users[currentIndex]);

            currentIndex++;
        }
    }

    public void Search(ChangeEventArgs e)
    {
        searchWord = e.Value.ToString();

        userFill();

        //Sets number of total entries
        numberEntries = users.Count;

        //Sets the total amount of pages needed
        numberPages = numberEntries / numberEntriesPerPage;
        if ((numberEntries % numberEntriesPerPage) != 0 && numberPages > 0)
        {
            numberPages++;
        }

        if (numberPages == 0)
        {
            foreach (var userInDb in users)
            {
                usersShow.Add(userInDb);
            }

            startIndex = 1;
            endIndex = numberEntries;
        }
        else
        {
            pageSelection.Clear();

            for (var x = 1; x <= numberPages; x++)
            {
                pageSelection.Add(x);
            }

            numberPageActive = 1;

            ChargeViewArray(1);
        }
    }

    public void userFill()
    {
        users.Clear();
        usersShow.Clear();

        if (searchWord == "")
        {
            users.AddRange(userDB);
        }
        else
        {
            foreach (var u in userDB)
            {
                var firstNameLower = u.User.FirstName.ToLower();
                var lastNameLower = u.User.LastName.ToLower();
                var eventNameLower = u.Name.ToLower();
                var searchLower = searchWord.ToLower();

                if (firstNameLower.Contains(searchLower) || lastNameLower.Contains(searchLower) || eventNameLower.Contains(searchLower))
                {
                    users.Add(u);
                }
            }
        }
    }
}
