@page "/TransactionForm/{id}"
@using System.Collections
@using ACasotaBlazorServer.Data
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@inject UserManager<ApplicationUser> _userManager
@inject NavigationManager nav
@inject IDbContextFactory<DataContext> contextDb
@inject IWebHostEnvironment enviroment

@attribute [Authorize]

<PageTitle>Perfil</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (render)
        {
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3">
                <div class="d-block mb-4 mb-md-0">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="/">ACasota</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Perfil</li>
                        </ol>
                    </nav>
                    <h2 class="h4">Perfil de Utilizador</h2>
                    <p class="mb-0">Página de especificações e caracteristicas do utilizador</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="card card-body border-0 shadow mb-4">
                        <h2 class="h5 mb-4">Informação do Utilizador</h2>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <div>
                                    <img class="img-fluid rounded-bottom rounded-top" src="@profileUserPic" alt="Card image cap">
                                </div>
                            </div>
                            <div class="col-md-9 mb-3">
                                <div class="form-group">
                                    <label for="UserFirstName">Primeiro Nome</label>
                                    <label class="form-control" id="UserFirstName">@user_auth.User.FirstName</label>
                                </div>
                                <div class="form-group">
                                    <label for="UserLastName">Apelido</label>
                                    <label class="form-control" id="UserLastName">@user_auth.User.LastName</label>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="UserEmail">Email</label>
                                    <label class="form-control" id="UserEmail">@user_auth.User.Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="UserNumber">Numero de Telemóvel</label>
                                    @if (user_auth.User.PhoneNumber == "" || user_auth.User.PhoneNumber == null)
                                    {
                                        <label class="form-control text-danger" id="UserNumber">Não tem numero de telemovel</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="UserNumber">@user_auth.User.PhoneNumber</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="UserCCNumber">Cartão de Cidadão</label>
                                    @if (user_auth.User.CCnumber == "" || user_auth.User.CCnumber == null)
                                    {
                                        <label class="form-control text-danger" id="UserCCNumber">Não tem numero de CC</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="UserCCNumber">@user_auth.User.CCnumber</label>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="UserNIF">NIF</label>
                                    @if (user_auth.User.Nif == "" || user_auth.User.Nif == null)
                                    {
                                        <label class="form-control text-danger" id="UserNIF">Não tem NIF</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="UserNIF">@user_auth.User.Nif</label>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="UserSex">Género</label>
                                    @if (@user_auth.User.Sex == "Female")
                                    {
                                        <label class="form-control" id="UserSex">Feminino</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="UserSex">Masculino</label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="UserSex">IBAN</label>
                                @if (@user_auth.User.Iban == "")
                                {
                                    <label class="form-control fw-extrabold" id="UserSex">IBAN não especificado</label>
                                }
                                else
                                {
                                    <label class="form-control fw-extrabold" id="UserSex">@user_auth.User.Iban</label>
                                }
                            </div>
                        </div>
                        <h2 class="h5 my-4">Localização</h2>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="UserCCNumber">Morada</label>
                                @if (user_auth.User.Address == "" || user_auth.User.Address == null)
                                {
                                    <label class="form-control text-danger" id="UserCCNumber">Não tem morada especificada</label>
                                }
                                else
                                {
                                    <label class="form-control" id="UserCCNumber">@user_auth.User.Address</label>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="UserCCNumber">Cidade</label>
                                    @if (user_auth.User.City == "" || user_auth.User.City == null)
                                    {
                                        <label class="form-control text-danger" id="UserCCNumber">Não tem cidade especificada</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="UserCCNumber">@user_auth.User.City</label>
                                    }
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="UserNIF">Código Postal</label>
                                    @if (user_auth.User.Zip == "" || user_auth.User.Zip == null)
                                    {
                                        <label class="form-control text-danger" id="UserNIF">Não tem código postal especificado</label>
                                    }
                                    else
                                    {
                                        <label class="form-control" id="UserNIF">@user_auth.User.Zip</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="card card-body border-0 shadow mb-4">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <h2 class="h5 mb-4">Informação da Transação</h2>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="UserAddress">Nome da transação</label>
                                            <label class="form-control" id="UserAddress">@user_auth.Name</label>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="DescAnimal">Descrição da transação</label>
                                        <label class="form-control" style="height: 100px;" placeholder="Descrição..." id="DescAnimal" rows="4">@user_auth.Description</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UserHouseType">Tipo de transação</label>
                                            <label class="form-control" id="UserHouseType">@user_auth.Type.Type</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UserHouseTipology">Montante da transação</label>
                                            <label class="form-control" id="UserHouseTipology">@user_auth.Amount</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UserHouseType">Data da transação</label>
                                            <label class="form-control" id="UserHouseType">@user_auth.DateTransaction</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UserHouseTipology">Data do pagamento</label>
                                            <label class="form-control" id="UserHouseTipology">@user_auth.DatePayment</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div>
                                    <label for="UserHouseTipology">Prova de pagamento</label>
                                    <img class="img-fluid rounded-bottom rounded-top" src="@proofTransactionPic" alt="Card image cap">
                                </div>
                            </div>
                            @if (isAdmin)
                            {
                                @if (!user_auth.IsPaid)
                                {
                                    <div class="form-group d-flex justify-content-center">
                                        <button type="button" id="bts" class="ms-2 btn large-form-btn btn-success" @onclick="AceptForm">Aprovar Transação</button>
                                    </div>
                                }
                                else
                                {
                                    <span class="fw-bold text-success">Transação Aprovada</span>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white rounded shadow p-5 mb-4 mt-4">
                <div class="row">
                    <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
                        <p class="mb-0 text-center text-lg-start">© 2023<span class="current-year"></span> <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">ACasota</a></p>
                    </div>
                    <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
                        <!-- List -->
                        <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                            <li class="list-inline-item px-0 px-sm-2">
                                <a href="https://themesberg.com/about">Instagram</a>
                            </li>
                            <li class="list-inline-item px-0 px-sm-2">
                                <a href="https://themesberg.com/themes">Twitter</a>
                            </li>
                            <li class="list-inline-item px-0 px-sm-2">
                                <a href="https://themesberg.com/blog">Facebook</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        }
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter]
    public string? id { get; set; }

    public Transaction user_auth { get; set; } = new Transaction();

    private bool render = false;
    private bool isAdmin = false;

    private bool errorHandling = true;

    //List of extentions
    public List<string> imageExtensions = new List<string> { ".jpg", ".jpeg", ".png" };

    //Bool control extention
    public bool hasExtention = false;

    private string pathRoot = "";
    private string pathPicsRoot = "..\\users_pics";
    private string pathPicsRootTransaction = "";
    private string pathPicsRootUser = "";
    private string profileUserPic = "";
    private string proofTransactionPic = "";
    private long maxFileSize = 1024 * 1024 * 3;

    //Methods
    protected override async Task OnInitializedAsync()
    {
        pathRoot = Path.Combine(enviroment.ContentRootPath, "wwwroot", "users_pics");

        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            using (var ctx = contextDb.CreateDbContext())
            {
                user_auth = await ctx.Transactions.Where(u => u.Id.Equals(this.id)).Include(c => c.User).Include(a => a.Type).FirstAsync();

                if (user.IsInRole("Admin"))
                {
                    isAdmin = true;
                }

                render = true;

                pathPicsRootUser = Path.Combine(pathPicsRoot, user_auth.User.UserName);
                pathPicsRootTransaction = Path.Combine(pathPicsRootUser, "Transactions", user_auth.Id);

                if (user_auth.User.ProfilePic != null && File.Exists(Path.Combine(pathRoot, user_auth.User.UserName, user_auth.User.ProfilePic)))
                {
                    profileUserPic = Path.Combine(pathPicsRootUser, user_auth.User.ProfilePic);
                }
                else
                {
                    profileUserPic = "..\\assets\\img\\userDefault\\userDefault.jpg";
                }

                if (user_auth.ProofPicture != null && File.Exists(Path.Combine(pathRoot, user_auth.User.UserName, "Transactions", user_auth.Id, user_auth.ProofPicture)))
                {
                    proofTransactionPic = Path.Combine(pathPicsRootTransaction, user_auth.ProofPicture);
                }
                else
                {
                    proofTransactionPic = "..\\assets\\img\\userDefault\\userDefault.jpg";
                }
            }
        }
    }

    public void Navs()
    {
        nav.NavigateTo("/AdoptionManagement", true);
    }

    public async Task AceptForm()
    {
        using (var ctx = contextDb.CreateDbContext())
        {
            user_auth.IsPaid = true;

            ctx.Transactions.Update(user_auth);
            await ctx.SaveChangesAsync();
        }

        Navs();
    }
}