@page "/UserManagement"
@using System.Collections
@using ACasotaBlazorServer.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<DataContext> contextDb

@attribute [Authorize]

<PageTitle>Gestão de Utilizadores</PageTitle>
<AuthorizeView Roles ="Admin">
	<Authorized>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                        <li class="breadcrumb-item">
                            <a href="/">
                                <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item"><a href="/">ACasota</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Gestão de Utilizadores</li>
                    </ol>
                </nav>
                <h2 class="h4">Gestão de Utilizadores</h2>
                <p class="mb-0">Página de gestão para todos os utilizadores e contas activas</p>
            </div>
        </div>
        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col col-md-6 col-lg-3 col-xl-4">
                    <div class="input-group me-2 me-lg-3 fmxw-400">
                        <span class="input-group-text">
                            <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Procurar Utilizadores">
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="border-gray-200">Nome</th>
                        <th class="border-gray-200">E-mail</th>						
                        <th class="border-gray-200">Telemovel</th>
                        <th class="border-gray-200">Morada</th>
                        <th class="border-gray-200">Segurança de Conta</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userDb in users)
                    {
                        <!-- Item -->
                        <tr>
                            <td>
                                <a href="#" class="fw-bold">
                                    <img class="me-2 image image-xs rounded-circle" alt="Image placeholder" src="../../assets/img/flags/united-states-of-america.svg">
                                    <span class="h6">@userDb.FirstName @userDb.LastName</span>
                                </a>
                            </td>
                            <td><span class="fw-normal">@userDb.Email</span></td>

                            @if (userDb.PhoneNumber == null)
                            {
                                <td><span class="fw-normal text-danger">Numero indisponivel</span></td>
                            }
                            else
                            {
                                <td><span class="fw-normal">@userDb.PhoneNumber</span></td>
                            }

                            @if (userDb.Address == null)
                            {
                                <td><span class="fw-normal text-danger">Morada indisponivel</span></td>
                            }
                            else
                            {   
                                <td><span class="fw-normal">@userDb.Address</span></td>
                            }

                            <td><span class="fw-bold text-success">Ativada</span></td>
                        </tr>
                    }
                </tbody>
            </table>
            @if(numberEntries > 15){
                <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="fw-normal small mt-4 mt-lg-0">Showing <b>15</b> out of <b>@numberEntries</b> entries</div>
                </div>
            }
            else
            {
                <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-right">
                    <div class="fw-normal small mt-4 mt-lg-0">Showing <b>@numberEntries</b> out of <b>@numberEntries</b> entries</div>
                </div>
            }
            
        </div>
        <footer class="bg-white rounded shadow p-5 mb-4 mt-4">
            <div class="row">
                <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
                    <p class="mb-0 text-center text-lg-start">© 2023<span class="current-year"></span> <a class="text-primary fw-normal" href="https://themesberg.com" target="_blank">ACasota</a></p>
                </div>
                <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
                    <!-- List -->
                    <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/about">Instagram</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/themes">Twitter</a>
                        </li>
                        <li class="list-inline-item px-0 px-sm-2">
                            <a href="https://themesberg.com/blog">Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>


		<h1>Lista de utilizadores</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Primeiro Nome</th>
					<th>Ultimo Nome</th>
					<th>Email</th>
					<th>Data de Nascimento</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var userDb in users)
				{
						<tr>
							<td>@userDb.FirstName</td>
							<td>@userDb.LastName</td>
							<td>@userDb.Email</td>
							<td>@userDb.Date_Birth.Date</td>
							<td>
								@if (userDb.IsEnabled)
								{
									<button class="btn btn-pill btn-danger" @onclick="() => blockUser(userDb.Id, userDb.IsEnabled)">Bloquear</button>
								}
								else
								{
									<button class="btn btn-pill btn-outline-danger" @onclick="() => blockUser(userDb.Id, userDb.IsEnabled)">Desbloquear</button>
								}
								<a class="btn btn-pill btn-primary" href="/UserEdit/@userDb.Id">Editar</a>
							</td>
						</tr>
				}
			</tbody>
		</table>
	</Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }
    public List<ApplicationUser> users { get; set; } = new List<ApplicationUser>();

    public int numberEntries { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            using (var ctx = contextDb.CreateDbContext())
            {
                var usersCT = await ctx.Users.ToArrayAsync();

                foreach (var userct in usersCT)
                {
                    users.Add(userct);
                }
            }

            numberEntries = users.Count;
        }
    }

    public async Task blockUser(string id, bool enable)
    {
        using (var ctx = contextDb.CreateDbContext())
        {
            foreach (var user in users)
            {
                if (user.Id.Equals(id))
                {
                    user.IsEnabled = !enable;
                    ctx.Users.Update(user);

                    await ctx.SaveChangesAsync();
                }
            }
        }
    }
}
